header {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: $white;
	border-bottom: 1px solid $lightgray;
	.navbar-container {
		padding: 0 !important;
		.navbar-brand, .custom-logo-link {
			cursor: pointer;
			img {
				width: 200px !important;
				height: auto;
			}
		}
		.navbar-body {
			justify-content: flex-end;
			.mega-menu {
				@media (max-width: 768px) {
					height: 100vh !important;
					align-items: start !important;
					gap: 10px;
					padding: 20px !important;
				}
				.mega-nav-item {
					font-family: "Space Grotesk", sans-serif !important;
					padding-right: 20px;
					margin: 0 !important;
					a {
						font-size: 16px;
						color: $black;
						font-weight: 500 !important;
						text-decoration: none;
						transition: 0.3s linear;
						&:hover, &:active {
							border-bottom: 1px solid;
						}
					}
					.mega-sub-menu {
						top: 64px !important;
						border: 0px 1px 1px 1px solid $lightgray;
						@media (max-width: 1200px) {
							top: 0 !important;
							padding-left: 20px !important;
						}
					}
					.mega-indicator::after {
						transition: all 0.2s;
					}
					&.mega-toggle-on {
						.mega-indicator::after {
							rotate: 180deg;
						}
					}
				}
				.mega-btn {
					border: 1px solid $primary-blue !important;
					background-color: $primary-blue !important;
					color: $white !important;
					text-align: center !important;
					padding: .5rem 1.25rem !important;
					border-radius: 0 !important;
					a {
						color: $white !important;
						text-decoration: none !important;
						padding: 0 !important;
						height: 30px !important;
						line-height: unset !important;
					}
					@media (max-width: 768px) {
						display: flex !important;
						justify-content: center !important;
						height: 40px !important;
						align-items: center !important;
						width: 100% !important;
						text-align: center !important;
						padding: 0 !important;
						a {
							height: unset !important;
						}
					}
				}
			}
		}
	}
}