$white : #ffffff;
$black : #000000;
$primary-blue : #2d67c8;
$secondary-blue : #0E3461;
$gray : #475467;
$lightgray : #ccc;
$lightgray2 : #f9fafb;
$yellow : #f39c12;
$lightyellow : #f8d536;
$gold : #c7a063;